*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}



.headingvoice{
    text-align:center;
    font-family:serif;
    font-size:40px;
    padding-top:20px;
    padding-bottom:10px;
}



.voice{
    height:480px;
    background:#E37383;
    
    
}
.voice h1{
    text-align:center;
    font-family:sans-serif;
    
}
.allcards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    column-gap:20px;
    margin:0 auto;
    padding:30px 0px;
    width:90%;
    
    
    
}

.card1{
    border-radius:5%;
    border:2px solid white;
    overflow:hidden;
    text-align: center;
    background:white;     
    
    margin:10px 10px;
    box-shadow:0 4px 8px rgba(0,0,0,1.5);
    height:400px;
    
    
}

.card1 img{
    width:70%;
    height:200px;
    object-fit:cover;
    padding:20px 80px;
     
}

.card1 p{
    
    font-size:14.5px;
    font-family:unset
    
}
    

.treat{
    margin:50px 0;
    width:100%;
    height:600px;
}

.treatinside{
    background:url(https://img.freepik.com/premium-photo/heartwarming-illustration-mother-breastfeeding-baby-soft-sandy-tones-tender-care-newborn_754092-1135.jpg);
    background-repeat: no-repeat;
    background-position: 0cm;
    background-size:100%;
    width:100%;
    height:550px;
    color:white;
    text-align:center;

}

.treatinside h3{
    padding-top:30px;
    font-weight:bolder;
    font-size:20px;


}

.treatinside h1{
    padding-top:10px;
    font-size:30px;
}

.treatinside p{
    padding-top:15px;
    padding-left:150px;
    padding-right:150px;
    font-size:14px;
}

.point1{
    padding-top:30px;
    display:flex;
    align-items:center;
    
    
    
    
    
    

}
.one{
    width:300px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:400px;
    cursor:pointer;
    font-weight:bolder;
    

  
    


}
.two{
    width:200px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;
    
    


}
.three{
    width:200px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;
    
  
    


}
.point2{
    padding-top:30px;
    display:flex;
    align-items:center;
    
    
     

}

.four{
    width:300px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:330px;
    cursor:pointer;
    font-weight:bolder;
    

}

.five{
    width:250px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;
    


}
.six{
    width:300px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;
    

  
    


}

.point3{
    padding-top:30px;
    display:flex;
    align-items:center;
    padding-left:100px;
    margin-left:100px;
    

}

.seven{
    width:250px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    cursor:pointer;
    font-weight:bolder;
    

}

.eight{
    width:200px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;

}

.nine{
    width:250px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;

}

.ten{
    width:200px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;

}

.eleven{
    width:200px;
    height:40px;
    background:#E37383;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border:3px solid white;
    margin-left:20px;
    cursor:pointer;
    font-weight:bolder;
    

}

.allsteps{
    background:#E37383;

}
.treatmentprocess{
    background:rgb(255, 255, 255);
    width:100%;
    height:900px;
    margin-top:100px;
    

}

.somecontent{
    text-align:left;
    margin:20px 20px;
    display:flex;
    
}

.somecontent h1{
    color:black;
    font-family:serif;
    font-size:40px;
    position:left;
}

.somecontent h4{
    color:black;
    padding-top:10px;
    font-size:15px;
    
}
.somecontent p{
    color:black;
    
    
}

.buttoncontact{
    margin-left:100px;
    margin-top:30px;
    
    

}

.contact{
    background:#7b303c;
    color:white;
    width:150px;
    height:50px;

}
.Abovecontent h4{
   
    width:800px;

}

.allsteps{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    column-gap:0px;
    text-align: left;
    justify-content: left;
    background:white;
    padding: 0px 10px;

    

}

.step1{
    
    padding-left:20px;
    width:350px;
    height:260;
    border:2px solid black;
    background:#E37383;

    
}
.step1 p{
    color:black;
    padding-left:6px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 30px;
    
    

}
.step1 h3{
    color:black;
    font-size:25px;
    font-family:serif;
    padding-top:10px;
    

}

.step1 h1{
    color:black;
    padding-bottom:px;

} 

